
.custom-container {
    background-color: #d59db9;
    padding: 10px;
    border-radius: 10px;
}

.custom-card {
    box-shadow: 0 2px 4px rgba(229, 100, 163, 0.89);
    border-radius: 30px;
    border: navy;
}


.navbar-custom {
  background-color: rgb(239, 152, 167);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: rgb(250, 246, 246); 
}

.btn-register:hover {
    background-color: rgb(228, 102, 123); 
    color: #3c0521; 
    border: 1px solid rgb(244, 159, 173); 
}
.navbar-custom .nav-link:hover {
    color: #e2117a; 
}
